.landing-page {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page a{
  text-decoration: none;
}

.outer-box{
  background-color: steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 85%;
  margin: auto;
  border-radius: 10px;
}

.banner-text {
  width: 95%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
  border-style: dashed;
  border-color: white;
  border-width: thin;
}

.banner-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  padding-top: .5em;
}

.banner-text hr {
  border-top: 5px line white;
  width: 70%;
  margin: auto;

}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;

}

.social-links {
  padding-top: 50px;
  display: block;
  width: 10%;
  margin: auto;
  padding-bottom: 5px;
}

.icon {
  padding: 8px;
  height: 110px;
  max-width: 100%;
  max-height: 100%;
}

.texts{
  padding-top: 50px;
  padding-bottom: 25px;
}

.texts p1{
  padding-top: 50px;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.texts p{
  font-size: 15px;
  padding-top: -10px;
  color: white;
}

.navbar {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile{
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
}

.profile h1{
  color: white;
}

.upload-page{
  padding-top: 30px;
  padding-bottom: 25px;
}

.upload-page h1{
  color: white;
  font-size: 35px;
}

/*
.text-data{
  padding: 30px;
  width: 80%;
  margin: auto;
}*/

.file-uploa/*d*/ {
  position: fixed;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.file-uploa{
  display: none;
}

.account-table{
  background: white;
}

.profile a {
  text-decoration: none;
  color: black;
}

.container-table {
  padding-top: 50px;
}

.input-page input {
  width: 100%;
  background: black;
}

.file {
  width: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file + label {
    font-size: 1.15em;
    font-weight: 700;
    color: white;
    background: steelblue;
    background-image: url('https://image.flaticon.com/icons/svg/1462/1462556.svg');
    background-size: 80px;
    background-position: center 60px;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    padding-top: 180px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.invalid-feedback {
  color: darkred;
  font-weight: bold;
  text-align: center;
}
